<section>
    <div class="container">
        
        <table class="table mt-5">
         
            <thead>
                <tr>
                       
                    <th class="col">Item</th>
                    <th class="col">Titile</th>
                    <th class="col">Price</th>
                    <th class="col">Quantity</th>

                </tr>   
            </thead>
            <tbody>
                {{#each products}}
                <tr>
               
                   <td><img style="width:70px ; height:70px;" src="/product-imges/{{this.product._id}}.jpg"  alt="image err"></td> 
                   <td>{{this.product.name}}</td>
                   <td>₹{{this.product.price}}</td>
                  
                   <td>
                    <button class="cart-items-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button> <span id="{{this.product._id}}">{{this.quantity}}</span><button class="cart-items-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
                   </td>
                   <td>
                      {{!-- <a href="" class="btn btn-danger">Remove</a>  --}}
                      <button  class="btn btn-danger" onclick="removeCart('{{this._id}}','{{this.product._id}}')">Remove</button>
                   </td>
                   {{/each}}

                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="float-center ms-5">
        <h3 class=" mt-4">Total: Rs <span style="color: red;" id="total">{{totalValue}}</span></h3>
        <a href="/place-order" class="btn btn-success mt-2">Place order</a>
    </div>

</section>

<script>
    function changeQuantity(cartId,proId,userId,count){
        let quantity=parseInt(document.getElementById(proId).innerHTML)
  
        $.ajax({
            url:'/change-product-quantity',
            data:{
              userId:userId,  
              cart:cartId,
              product:proId,
              count:count,
              quantity:quantity
            },
            method:'post',
            success:(response)=>{
             if(response.removeProduct){
                alert('Product Removed from Cart')
                location.reload()
             }else{
                console.log(response)
                document.getElementById(proId).innerHTML=quantity+count
                document.getElementById('total').innerHTML=response.totalValue
             }
            } 
        })
    }

    function removeCart(cartId,proId){
          $.ajax({
            url:'/remove-cart',
            data:{
                cartId:cartId,
                proId:proId
            },
            method:'post',
            success:(response)=>{
                console.log(response)
                if(response.status){
                 alert("are you want  to delete?")
                location.reload()
                }
              
            }
          })
    }
</script>