<section style="position: relative; top:100px ;">
    <div class="row ">
        {{#each products}}
        <div class="shadow pb-5 col-4 p-2 m-4"  style="width: 18rem;">
            <img src="/product-imges/{{this.product._id}}.jpg" style="height: 200px ;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.product.name}}</h5>
                <h6 class="card-title " style="color:blue" >{{this.product.categery}}</h6>
                <h6 class="card-title">prize:{{this.product.price}}</h6>
                <h6 class="card-title">quantity :{{this.quantity}}</h6>
            </div>
        </div>
        {{/each}}
    </div>
</section>

<style>
    .shadow:hover{
        transform: scale(1.1);
        transition: .8s;
        cursor: pointer;
    }
</style>